mixin image-with-caption(spec)
  - spec = spec || {}
  - var image = spec.image || spec.img || spec.src || ''
  - var caption = spec.caption || spec.text || ''
  - var type = spec.type || ''
  - var imageSrc = imagePath+'/320/'+image
  - var srcSet = imagePath+'/640/'+image+' 640w, '
  - srcSet += imagePath+'/1280/'+image+' 1280w, '
  - srcSet += imagePath+'/1980/'+image+' 1980w'

  .row.image-with-caption.padding-normal
    case type
      when 'big'
        .col-xs-12.col-md-10.col-md-offset-1
          img.img-responsive.img-zoomable(src=imageSrc srcset=srcSet alt=caption)
        .col-xs-12.col-md-10.col-md-offset-1
          p!=caption
      default
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          img.img-responsive.img-zoomable(src=imageSrc srcset=srcSet alt=caption)
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          p!=caption
