//modules
include ../_modules/navbar/navbar
include ../_modules/footer/footer
include ../_modules/modal/modal

//blocks
include ../_modules/blocks/cover-with-face/cover-with-face
include ../_modules/blocks/text/text
include ../_modules/blocks/feature-post/feature-post
include ../_modules/blocks/circle-image/circle-image
include ../_modules/blocks/circle-icon/circle-icon
include ../_modules/blocks/title-slide/title-slide
include ../_modules/blocks/chapter-title/chapter-title
include ../_modules/blocks/image-with-text/image-with-text
include ../_modules/blocks/image-with-caption/image-with-caption
include ../_modules/blocks/img-zoomable/img-zoomable
include ../_modules/blocks/list/list
include ../_modules/blocks/list-alternating-images/list-alternating-images
include ../_modules/blocks/post-list/post-list

block config

doctype html
<html class='' lang='ru'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Wargame Art Blog
  meta(name='description', content= 'Блог о варгеймах Алексея Усачева')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= '/build/styles/main.css')
  block fonts
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext" rel="stylesheet")



body
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  block navbar
    +navbar

  block container
    .container-fluid
      .main
        block content

  block footer
    +footer

  block modal
    +modal

  block scripts
    script(
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous")
    script(
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous")
    script(src='/build/scripts/main.js')


</html>
